name: Build and Tests

on:
  push:
    branches:  [ main ]
  pull_request: 
    branches:  [ main ]

jobs: 
  test: 
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15-intel, macos-14]
        python-version: ['3.10', '3.13']

    steps:
    - uses:  actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with: 
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'

    - name: Tests
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[test]
        python -m pytest
